.form{
    position: relative;
    margin-top: 150px;
    margin-bottom: 250px;
    margin-left: 450px;
    margin-right: 550px;
    background-color: rgba(16, 241, 185, 0.65);
    height: 500px;
    width: 450px;
}
#txt {
    padding-top: 70px;
}
